<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <!--先定义所有的appenders-->
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </appenders>
    <loggers>
        <root level="debug"><!--default error-->
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>