<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="waiter" class="com.smart.chapter7.advisor.Waiter"/>
    <bean id="seller" class="com.smart.chapter7.advisor.Seller"/>
    <bean id="greetingBeforeAdvice" class="com.smart.chapter7.advisor.GreetingBeforeAdvice"/>
    <!--BeanNameAutoProxyCreator-->
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames">
            <list>
                <idref bean="waiter"/>
                <idref bean="seller"/>
            </list>
        </property>
        <property name="interceptorNames">
            <list>
                <idref bean="greetingBeforeAdvice"/>
            </list>
        </property>
        <!--强制使用CGLib动态代理技术-->
        <property name="optimize" value="true"/>
    </bean>


</beans>