<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <util:properties id="jdbcProperties" location="classpath:jdbc.properties"/>
    <context:property-placeholder properties-ref="jdbcProperties"/>

    <bean id="systemPropertyBean" class="com.smart.chapter9.spel.SystemPropertyBean">
        <property name="osName" value="#{systemProperties['os.name']}"/>
        <property name="javaHome" value="#{systemProperties['java.home']}"/>
        <property name="classPath" value="#{systemProperties['java.class.path']}"/>
        <property name="javaVersion" value="#{systemProperties['java.version']}"/>
    </bean>

    <context:component-scan base-package="com.smart.chapter9.spel"/>
</beans>