<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="adviceMethods" class="com.smart.chapter8.schema.AdviceMethods"/>
    <bean id="naiveWaiter" class="com.smart.chapter8.NaiveWaiter"/>
    <bean id="naughtyWaiter" class="com.smart.chapter8.NaughtyWaiter"/>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="greetToPointcut" expression="target(com.smart.chapter8.NaiveWaiter) and execution(* greetTo(..))"/>
        <aop:aspect ref="adviceMethods">
            <aop:before method="preGreeting" pointcut-ref="greetToPointcut"/>
        </aop:aspect>
    </aop:config>
</beans>