<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>
    <typeAliases>
        <typeAlias alias="Forum" type="com.smart.chapter14.domain.Forum"/>
        <typeAlias alias="Topic" type="com.smart.chapter14.domain.Topic"/>
        <typeAlias alias="Post" type="com.smart.chapter14.domain.Post"/>
    </typeAliases>
    <!--<mappers>
        <mapper resource="com/smart/chapter14/domain/mybatis/Forum.xml"/>
        <mapper resource="com/smart/chapter14/domain/mybatis/Topic.xml"/>
        <mapper resource="com/smart/chapter14/domain/mybatis/Post.xml"/>
    </mappers>-->
</configuration>