<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--prototype类型的Bean-->
    <bean id="com.smart.chapter5.injectfun.Car" class="com.smart.chapter5.injectfun.Car"
          p:brand="红旗CA72" p:price="2000" scope="prototype"/>
    <!--实施方法注入-->
    <bean id="magicBoss" class="com.smart.chapter5.injectfun.MagicBoss">
        <lookup-method name="getCar" bean="com.smart.chapter5.injectfun.Car"/>
    </bean>

    <!--使用boss2的MethodReplacer接口方法替换替换Bean的getCar()方法-->
    <bean id="com.smart.chapter5.injectfun.Boss1" class="com.smart.chapter5.injectfun.Boss1">
        <replaced-method name="getCar" replacer="com.smart.chapter5.injectfun.Boss2"/>
    </bean>
    <bean id="com.smart.chapter5.injectfun.Boss2" class="com.smart.chapter5.injectfun.Boss2"/>
</beans>