<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="myResource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>com/smart/chapter6/i18n/fmt_resource</value>
            </list>
        </property>
    </bean>

    <bean id="reloadableResourceBundleMessage" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>com/smart/chapter6/i18n/fmt_resource</value>
            </list>
        </property>
        <!--刷新资源文件的周期，单位：秒，真实环境至少大于一分钟-->
        <property name="cacheSeconds" value="5"/>
    </bean>
</beans>